@media screen and (max-width: 600px) {
  .image{
    display: none;
  }
  .button{
    display: none;
  }
}
@media screen and (min-width: 601px) {
  .small_button{
    display: none;
  }
}
button {
  width: 150px;
  height: 30px;
  font-size: 20px;
  background-color: LightGray;
}
button:hover {
  background-color: white;
}
h1{
  color:red;
  text-align:center;"
}
