<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
  <body>
    <table class="button">
      <tr>
        <th>
          <form action="/">
              <button class="btn btn-primary" type="button">Home</button>
          </form>
        </th>
        <th>
          <form action="/drivers">
              <button class="btn btn-primary" type="button">Drivers</button>
          </form>
        </th>
        <th>
          <form action="/teams">
              <button class="btn btn-primary" type="button">Teams</button>
          </form>
        </th>
        <th>
          <form action="/standings">
              <button class="btn btn-primary" type="button">Standings</button>
          </form>
        </th>
        <th>
          <form action="/calendar">
              <button class="btn btn-primary" type="button">Calendar</button>
          </form>
        </th>
      </tr>
    </table>
    <form class="small_button" action="/">
        <button class="btn btn-danger" type="button">Home</button>
    </form>
    <form class="small_button" action="/drivers">
      <button class="btn btn-danger" type="button">Drivers</button>
    </form>
    <form class="small_button" action="/teams">
      <button class="btn btn-danger" type="button">Teams</button>
    </form>
    <form class="small_button" action="/standings">
      <button class="btn btn-danger" type="button">Standings</button>
    </form>
    <form class="small_button" action="/calendar">
      <button class="btn btn-danger" type="button">Calendar</button>
    </form>
    <div class="jumbotron text-center">
      <h1>Teams</h1>
    </div>
    <ul>
      <li>
        <a href="https://www.sauber-group.com/motorsport/formula-1/">
          Alfa Romeo Racing</a>
      </li>
      <ul>
        <li>
          C38
        </li>
      </ul>
      <li>
        <a href="https://formula1.ferrari.com/en/">
        Scuderia Ferrari</a>
      </li>
      <ul>
        <li>
          SF90
        </li>
      </ul>
      <li>
        <a href="https://www.haasf1team.com/">
        Haas F1 Team</a>
      </li>
      <ul>
        <li>
          VF-19
        </li>
      </ul>
      <li>
        <a href="https://www.mclaren.com/racing/team/">
        McLaren F1 Team</a>
      </li>
      <ul>
        <li>
          MCL34
        </li>
      </ul>
      <li>
        <a href="https://www.mercedesamgf1.com/en/mercedes-amg-f1/">
        Mercedes AMG Petronas Motorsport</a>
      </li>
      <ul>
        <li>
          F1 W10 EQ Power+
        </li>
      </ul>
      <li>
        <a href="https://www.racingpointf1.com/">
        SportPesa Racing Point F1 Team</a>
      </li>
      <ul>
        <li>
          RP19
        </li>
      </ul>
      <li>
        <a href="https://redbullracing.redbull.com/">
        Aston Martin Red Bull Racing</a>
      </li>
      <ul>
        <li>
          RB15
        </li>
      </ul>
      <li>
        <a href="https://www.renaultsport.com/-Formule-1-330-.html">
        Renault F1 Team</a>
      </li>
      <ul>
        <li>
          R.S.19
        </li>
      </ul>
      <li>
        <a href="https://scuderiatororosso.redbull.com/en/">
        Red Bull Toro Rosso Honda</a>
      </li>
      <ul>
        <li>
          STR14
        </li>
      </ul>
      <li>
        <a href="https://www.williamsf1.com/">
        ROKiT Williams Racing</a>
      </li>
      <ul>
        <li>
          FW42
        </li>
      </ul>
    </ul/
  </body>
</html>
